<h1>Plan Creation </h1>
<div class="panel panel-default">
    <div class="panel-body">
      <%= form_with model: @plan, local: true do |form| %>
      <div class=" field form-group"> 
          <div class="field form-group">
          <% form.label :name %><br />
          <%= form.text_field :name, autofocus: true,required: true, autocomplete: "name", class: "form-control", placeholder: "Name" %>
      </div>
        <div class="field form-group">
          <% form.label :monthly_fee %><br />
          <%= form.number_field :monthly_fee, autofocus: true,required: true, min: 0, autocomplete: "name", class: "form-control", placeholder: "Monthly Fee" %>
        </div>
        <div class="actions">
          <%= form.submit "Create Plan", class: "btn btn-primary" %>
        </div>
  </div>
  <% end %> 
</div>