<h1> ALL Features </h1>
<% @features.each do |feature| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-heading">
        <strong>Feature Name : </strong>
        <%= feature.name %></h3>
        <br>
      </div>  
    <div class="panel-heading">
      <strong>Feature Code : </strong>
      <%= feature.code %></h3>
      <br>
    </div>
    </div>
 </div>
<% end %>


